body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
nav a:hover {
    background-color: #575757;
}
.content {
    padding: 20px;
    text-align: center;
}
.hidden {
    display: none;
}
img {
    max-width: 800px; /* 최대 너비를 400px로 제한 */
    height: auto;    /* 가로세로 비율 유지 */
    margin: 20px auto; /* 이미지의 간격 추가 */
    display: block; /* 이미지를 블록 요소로 설정 */
    border-radius: 10px; /* 이미지 모서리를 둥글게 처리 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}